<form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
    <div class="horizontal-centering">
        <h3>Add a new organization</h3>
    </div>
    <div class="flex-row">
        <div>
            <label for="name">Enter the organization name:</label>
        </div>
        <div>
            <input class="inputs" type="text" formControlName="name"
                [ngClass]="organizationForm.get('name')?.valid? 'input-valid':''"
                [class.input-invalid]="!organizationForm.get('name')?.valid && organizationForm.get('name')?.touched">
        </div>
    </div>
    <div class="flex-row">
        <div>
            <label for="logo">Enter the organization logo link:</label>
        </div>
        <div>
            <input class="inputs" type="text" formControlName="logo"
                [ngClass]="organizationForm.get('logo')?.valid? 'input-valid':''"
                [class.input-invalid]="organizationForm.get('logo')?.touched">
        </div>
    </div>
    <div class="flex-row">
        <div>
            <label for="tracking">How many trackings are in use:</label>
        </div>
        <div>
            <input class="inputs" type="number" formControlName="tracking"
                [ngClass]="organizationForm.get('tracking')?.valid? 'input-valid':''"
                [class.input-invalid]="!organizationForm.get('tracking')?.valid && organizationForm.get('tracking')?.touched">
        </div>
    </div>
    <div class="flex-row">
        <div>
            <label for="protection">How many protections are in use:</label>
        </div>
        <div>
            <input class="inputs" type="number" formControlName="protection"
                [ngClass]="organizationForm.get('protection')?.valid? 'input-valid':''"
                [class.input-invalid]="!organizationForm.get('protection')?.valid && organizationForm.get('protection')?.touched ">
        </div>
    </div>
    <div class="horizontal-centering">
        <button mat-raised-button [disabled]="!organizationForm.valid">Submit</button>
    </div>

</form>