@mixin border-color($border-color: black) {
    // margin-right: 30px;
    border: 2px solid $border-color;
    border-radius: 3px;
    outline: none;
}
form{
    border-radius: 5px;
    // background-color: white;
    color: black;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin: 10px 20px;
}
.horizontal-centering{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px
}
.inputs{
    @include border-color(black);
}

.input-invalid{
    @include border-color(red);
}
.input-valid{
    @include border-color(green);
}

.mat-button-disabled{
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    color: black;
}
mat-form-field{
    margin: 5px 5px;
    width: 95%;
}
