<div class="border">
    <div class="orientation">
        <div id="headline-info-container">
            <img [src]=organization.logo id="organization-logo">
            <h4 id="organization-name">{{organization.name}}</h4>
        </div>
        <button mat-icon-button id="options-menu" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteCard()">
                <mat-icon class="delete-logo">not_interested</mat-icon>delete
            </button>
        </mat-menu>
    </div>
    <hr>
    <h5>Licenses</h5>
    <div id="organization-info">
        <div>
            <h6>Tracking</h6>
            <div class="orientation">
                <p class="info-name">In use:</p>
                <p class="info">{{organization.tracking}}</p>
            </div>
            <div class="orientation">
                <p class="info-name">Assigned:</p>
                <input type="number">
            </div>
        </div>
        <div>
            <h6>Protection</h6>
            <div class="orientation">
                <p class="info-name">In use:</p>
                <p class="info">{{organization.protection}}</p>
            </div>
            <div class="orientation">
                <p class="info-name">Assigned:</p>
                <input type="number" class="assigned-input">
            </div>
        </div>
    </div>
</div>