%orientation-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mat-icon-button{
    background: none;
}
.border{
    border: 1px solid black;
    height: 160px;
    padding: 0 20px;
}
.orientation{
    @extend %orientation-row;
    // height: 50px;
    
}
#organization-name{
    margin: 0 20px 0;
}
#organization-logo{
    height: 19px;
    width: 19px;
}
#headline-info-container{
    display: flex;
    flex-direction: row;
}
hr{
    margin: 0;
}
h5{
    margin: 10px 0;
}
h6{
    margin: 0;
}
.info-name{
    font-size: 10px;
    margin-right: 40px ;
}
.info{
    font-size: 10px;
    margin-right: 15px;
}
#organization-info{
    @extend %orientation-row;
}
input{
    width: 30px;
    height: 12px;
}