<div class="border">
    <div class="orientation-row">
        <div id="headline-info-container">
            <img [src]=organization.logo id="organization-logo">
            <h4 id="organization-name">{{organization.name}}</h4>
        </div>
        <button mat-icon-button id="options-menu" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteOrganization()">
                <mat-icon class="delete-logo">not_interested</mat-icon>delete
            </button>
        </mat-menu>
    </div>
    <hr>
    <h5>Licenses</h5>
    <div id="organization-info">
        <div>
            <h6 matTooltip="in use: {{organization.tracking}}">Tracking</h6>
            <div class="orientation-row">
                <p class="info-name-in-use" >In use:</p>
                <p class="info" [ngClass]="trackingAssigned >= organization.tracking? 'valid' :'invalid'">
                    {{organization.tracking}}</p>
            </div>
            <div class="orientation-row">
                <div class="orientation-horizontal-center">
                    <p class="info-name">Assigned:</p>
                </div>
                <input type="number" [(ngModel)]="trackingAssigned">
            </div>
        </div>
        <div>
            <h6 matTooltip="in use: {{organization.protection}}">Protection</h6>
            <div class="orientation-row">
                <p class="info-name-in-use">In use:</p>
                <p class="info" [ngClass] ="protectionAssigned >= organization.protection? 'valid' :'invalid'">
                    {{organization.protection}}</p>
            </div>
            <div class="orientation-row">
                <p class="info-name">Assigned:</p>
                <input type="number" [(ngModel)]="protectionAssigned" class="assigned-input">
            </div>
        </div>
    </div>
</div>
