%orientation-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mat-icon-button {
    background: none;
}

.border {
    height: 170px;
    padding: 0 20px;
    width: 90%;
}

.orientation-row {
    @extend %orientation-row;
}

#organization-name {
    margin: 0 20px 0;
}

#organization-logo {
    height: 19px;
    width: 19px;
    border-radius: 50%;
}

#headline-info-container {
    display: flex;
    flex-direction: row;
}

hr {
    margin: 0;
}

h5 {
    margin: 10px 0;
}

h6 {
    margin: 0;
}

.info-name {
    font-size: 10px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.info-name-in-use{
    font-size: 10px;
    margin-right: 20px;
}


.info {
    font-size: 10px;
    margin-right: 10px;
}

#organization-info {
    @extend %orientation-row;
}

input {
    width: 30px;
    height: 12px;
    outline: none;
    font-size: 10px;
    background-color: rgba(238, 238, 238, 0.2);
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px rgb(199, 199, 199);
}

.mat-menu-content {
    background-color: white;
}

.mat-menu-item {
    background-color: white;
    color: black;
}

.delete-logo {
    color: black;
}

.arrow-container {
    height: 18px;
}

.plus1 {
    height: 9px;
}

.minus1 {
    height: 9px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::ng-deep .mat-menu-content{
    background-color:white;
  }