<div id="background">
    <div class="headline">
        <div>
            <h4>All organizations({{organizations.length}})</h4>
            <div id="search-field">
                <input type="text" placeholder="Search organization " [(ngModel)]="search">
                <i>
                    <mat-icon>search</mat-icon>
                </i>
            </div>
        </div>
        <button mat-flat-button color="accent" (click)="openDialog()">Add New Organization</button>
    </div>
    <hr style="margin: 15px 0px;">
    <div *ngFor="let num of organizations|devideByThree" class="three-cards-group"
        [ngClass]="organizations.length%3==2&&organizations.length%3==organizations.indexOf(num)%3? 'not-complite':''">
        <div *ngFor="let organization of organizations|searchOrganization:search:'name'|nextThree:organizations.indexOf(num)"
            [ngClass]="organizations.length%3==2&&organizations.length%3==organizations.indexOf(num)%3? 'card-container-not-full':'card-container'">
            <app-card [organization]=organization class="card"></app-card>
        </div>
    </div>
</div>