#background{
    margin: 30px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.headline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        border: none;
    }
    button{
        background-color: rgb(73,153,252);
        color: white;
    }
}
h4{
    margin: 0;
}
#search-field{
    border: 1px solid rgb(165, 163, 163);
    border-radius: 5px;
    margin-left: 20px;
    height: 45px;
    input{
        outline: none;
    }
}

.card-border{
    width: 270px;
    border: 1px solid rgb(165, 163, 163,0.5);
    border-radius: 5px;
    margin:10px 10px;
}

.not-complite{
    width: 65%;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.searcher{
    color: black;
}
.separator{
    margin: 15px 0px;
}
mat-form-field{
    mat-label{
        color: black;
    }
}
.page-info{
    font-size: 12px;
}
@media (max-width:400px){
    #background{
        margin: 30px 15px;
    }
}