<div id="background">
    <div class="headline">
        <div>
            <h4>All organizations({{organizations.length}})</h4>
            <div id="search-field">
                <input type="text" placeholder="Search organization " [(ngModel)]="search">
                <i>
                    <mat-icon>search</mat-icon>
                </i>
            </div>
        </div>
        <button mat-flat-button color="accent" (click)="openDialog()">Add New Organization</button>
    </div>
    <hr class="separator">
    <div class="flex-wrap">
        <div *ngFor="let organization of organizations|searchOrganization:search:'name'" class="card-border">
            <app-card [organization]=organization class="card" ></app-card>
        </div>
    </div>
</div>