.mat-card{
    height: 110px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mat-card-title{
    margin: 40px 10px ;;
}
.mat-card-action{
    margin: 0px 10px;
}